In [5]:
a = int(input("Enter Your Course Completion -: "))
if a >= 40 :
    print("You Can apply for Data Science Job ")
else :
    print("You can't apply for DS Job")

Enter Your Course Completion -: 39
You can't apply for DS Job

In [6]:
a = 10
if a == 11:
    pass

In [7]:
a = 10
if a > 5 :
    pass

In [8]:
a = 10
if a < 8:
    print("Print This Condition is True")

In [9]:
a = 10
if a != 11:
    print("My condition is false")
else :
    false

My condition is false

In [10]:
a = 10
if a <5:
    print("THIS condition is true")

In [9]:
a = 10
if a ==11:
    print("My condiion is false")
else:
    print("print this")

print this

In [13]:
a = int(input("enter a"))
if a ==12:
    print("Here we are trying to compare 10 with 12")
elif a  == 10:
    print("Trying to compare 10 wid 11")
else:
    print(" if all the block will fail then do this")

enter a12
Here we are trying to compare 10 with 12

In [25]:
price = int(input("Enter The Price"))
if price > 500:
    print("I won't be able to buy a jacket")
elif price < 500:
    print("I will be able to buy a jacket")
elif price == 500:
    print(" for sure i will be able to buy")
else:
    print(" i don't know")

Enter The Price500
 for sure i will be able to buy

In [26]:
price < 500

False

In [27]:
price > 500

False

In [28]:
price == 500

True

In [33]:
l = [1,2,3,4,5,6]
2 in l

True

In [34]:
if 2 in l:
    print("Perform the task")
else:
    print("Do not perform this task")

Perform the task

In [35]:
60 in l

False

In [43]:
l.remove(2)

In [47]:
if 10 in l:
    print("Try to do addition")
elif 2 in l :
    print("Try to do sub")
elif 3 in l:
    print("Try to do mul")
if 4 in l:
    print("this is new statement")

Try to do mul
this is new statement

In [40]:
10 in l

False

In [48]:
if 4 in l:
    print("this a new statement")

this a new statement

In [49]:
a = 400

In [17]:
b = input()

455

In [18]:
type(b)

str

In [19]:
b = int(input("enter a"))

enter a445

In [26]:
price = int(input())
if price < 500:
    print("I will be able to buy Something")
    if price < 400:
        print("I will buy a jacket")
    elif price <300:
        print("i will buy a shirt")
else :
    print("I Won'nt be able to anything with this price tag")

600
I Won'nt be able to anything with this price tag

In [30]:
marks = int(input("Enter Marks "))
if marks >= 600:
    print("Qualified GRE")
elif marks < 600:
        print("No GRE")
if marks >= 500:
    print("TOEFL")
else:
    print("Try do something else")

Enter Marks 700
Qualified GRE
TOEFL

In [34]:
val = float(input("Enter the number: "))
if val >= 0:
    if val == 0:
        print("Enter value is zero")
    else:
        print("Value is a positive number")
else:
    print("Enterd number is negative number")

Enter the number: 0
Enter value is zero

In [35]:
a = 10
if a < 10 and a > 10:
    print("try to do something")
else:
    print("statement is false")

statement is false

In [28]:
a = "sudh"
if a == "sudh" or a == "Sudh":
    print("this is sudh")

this is sudh

In [36]:
a = 10
b = 11
c = 12
d = 13
if a == 9 or b == 11 and c == 12 and d == 13:
    print("True")

True

In [38]:
d = {'key1' :"value" , "key2": "sudh" , "key3": "iNeuron"}

In [39]:
if d['key1']== "value" and d['key2']== "sudh" and d['key3']== "iNeuron":
    print("All are true")
    print(d.values())
else:
    print("all the values are not verified")

All are true
dict_values(['value', 'sudh', 'iNeuron'])

In [41]:
l = [1,2,3,4,5,"sudh",234.52]

In [42]:
l[0]

1

In [43]:
l[2:5]

[3, 4, 5]

In [44]:
type(l)

list

In [52]:
for i in l:
    if type(i)== int:
        print(i)
        i+=1
    if type(i) == float:
            print(i+2)
    elif type(i)== str:
        print(i + str(1))

1
2
3
4
5
sudh1
236.52